.my-person-page .other-author-page {
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px dotted rgba(0, 0, 0, 0.15);
}

.other-author-page #accordion .my-panel {
  border: none;
  border-top: 1px solid #ddd;
}

.other-author-collapse-panel #accordion .my-panel > .panel-heading {
  background-color: transparent;
  border: none !important;
}

.other-author-collapse-panel #accordion .my-panel > .panel-heading a:hover {
  text-decoration: none;
}

.other-author-collapse-panel #accordion .my-panel > .panel-heading a {
  text-decoration: none;
}

.other-author-collapse-panel #accordion .my-panel .my-panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5em;
  font-size: 18px;
  border: none !important;
}

.other-author-collapse-panel #accordion .my-panel .my-panel-content > img {
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.other-author-page .header-h {
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  margin-left: 13%;
  font-family: "FangSong", cursive;
  color: rgba(32, 143, 238, 0.65);
  font-weight: bold;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.2);
}